.header {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #181818;
  position: relative;
  z-index: 9999;
}
.thididnavbar {
  backdrop-filter: blur(100px);
  box-shadow: 0px 0px 30px rgba(227, g228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
}
.logo {
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  max-width: 111px;
}
.logo a {
  text-decoration: none;
  outline: none;
}

.home_section_gamesicon {
  float: left;
  margin: 0 0 0 0;
  padding: 40px 0 40px 0;
  width: 100%;
  clear: both;
}
.home_section_gamesicon .game_icon_1 {
  float: left;
  margin: 0 20px 0 0;
  padding: 0 0 0 0;
  width: 36%;
  max-width: 100%;
  border-radius: 10px;
}
.home_section_gamesicon .game_icon_2 {
  float: left;
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
  width: 62%;
  max-width: 100%;
}
.home_section_gamesicon .game_icon_3 {
  float: left;
  margin: 20px 20px 0 0;
  padding: 0 0 0 0;
  width: 29%;
  max-width: 100%;
}
.home_section_gamesicon .game_icon_4 {
  float: left;
  margin: 20px 20px 0 0;
  padding: 0 0 0 0;
  width: 38%;
  max-width: 100%;
}
.home_section_gamesicon .game_icon_5 {
  float: left;
  margin: 20px 0 0 0;
  padding: 0 0 0 0;
  width: 29%;
  max-width: 100%;
}
.home_section_gamesicon .game-icon-s-1 {
  float: left;
  margin: 0 20px 0 0;
  padding: 0 0 0 0;
  width: 11%;
  max-width: 100%;
}
.home_section_gamesicon .game-icon-s-2 {
  float: left;
  margin: 0 0px 0 0;
  padding: 0 0 0 0;
  width: 11%;
  max-width: 100%;
}

/* Menu */
.main_menu {
  float: right;
  margin: 9px 0 0;
  padding: 0;
  width: auto;
}
.main_menu ul {
  list-style: none;
  margin: 0px 0 0;
  padding: 0;
  float: left;
  position: relative;
  top: 20px;
}
.main_menu ul li {
  list-style: none;
  margin: 0;
  padding: 0 15px;
  float: left;
}
.main_menu ul li a {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0 0px;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  line-height: 23px;
  box-sizing: border-box;
  font-family: "cuyabra", sans-serif;
  text-transform: uppercase;
}
.main_menu ul li a:hover {
  color: #eecf23;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  text-decoration: none !important;
  outline: none;
  border-bottom: 2px solid #eecf23;
}
.main_menu ul li.active a {
  color: #eecf23;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  text-decoration: none;
  outline: none;
  border-bottom: 2px solid #eecf23;
}

.main_menu ul .publishing-button {
  border: 1px solid #eecf23;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  margin-top: -1px;
  margin-left: 15px;
}
.main_menu ul li:last-child a {
  line-height: 24px;
}
.main_menu ul li:last-child a:hover {
  border: none;
}
.main_menu ul li.active:last-child a {
  border: none;
}

.lang-button {
  position: absolute;
  top: 37px;
  left: 1242px;
}
.lang-button a {
  color: white;
  font-size: 22px;
  text-decoration: none;
}
.lang-button a:hover {
  color: #ffea00;
}

.mobile_menu {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
  line-height: 0;
  font-size: 0px;
  width: 0px;
  padding: 0px;
  margin: 0;
}
@media (max-width: 768px) {
  .mobile_menu {
    visibility: visible;
    height: auto;
    line-height: normal;
    font-size: 15px;
    width: auto;
    margin-top: 0px;
    float: right;
  }
  .lang-button {
    display: none;
  }
  .main_menu {
    float: right;
    margin: 0;
    padding: 0;
    max-width: 0;
    width: 0;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    height: 0;
  }
  .mobile_menu span {
    font-size: 30px;
    cursor: pointer;
    float: right;
    width: auto;
    color: #ffea00;
  }
  .mobile_menu .logo {
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
    max-width: 280px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav ul {
    float: left;
    margin: 0;
    padding: 0 0 0 15%;
    list-style-type: none;
    width: 100%;
  }
  .sidenav ul li {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
  }
  .sidenav ul li a {
    position: relative;
    display: block;
    padding: 5px 0;
    margin: 0;
    font-size: 15px;
    line-height: 35px;
    color: #565050;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.23em;
    text-decoration: none;
    outline: none;
  }
  .sidenav a:hover {
    color: #f7775e;
    text-decoration: none;
    outline: none;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    margin-left: 0;
    color: #f7775e;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
  .navbar-nav .nav-link {
    color: #fff !important;
    font-size: 15px;
    text-transform: uppercase;
  }

  .navbar-nav .nav-link:hover {
    color: #eecf23 !important;
    border-bottom: 2px solid #eecf23 !important;
    transition: color 0.2s ease-out, border-bottom 0.2s ease-out;
  }

  .navbar-nav .nav-item.active .nav-link {
    color: #eecf23 !important;
    border-bottom: 2px solid #eecf23 !important;
  }
}
