.jobs_arae h3 {
  color: #191919;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 21px;
  margin: 0px 0 0px 0;
  padding: 0 0;
  float: left;
  width: 100%;
  text-align: left;
  clear: both;
}
.jobs_arae .location {
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
  float: left;
  text-align: left;
}

.jobs_arae p a {
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0px 0 0px 0;
  padding: 0 0;
  float: left;
  width: 100%;
}

.jobs_left_area h3 {
  color: #191919;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 27px;
  margin: 0px 0 25px 0;
  padding: 0 0;
  float: left;
  width: 100%;
  text-align: left;
  clear: both;
}
.jobs_left_area p {
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0px 0 12px 0;
  padding: 0 0 12px 5%;
  float: left;
  width: 95%;
  background-image: url("../imgs/jobs_info_bg.jpg");
  background-repeat: repeat-x;
  background-position: bottom left;
}
