.jobs_career_section_1 {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
}
.jobs_career_section_2 {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
}
.jobs_breadcrumb {
  margin: 20px 0 30px 0;
  padding: 0 0;
  float: left;
  width: 100%;
}
.jobs_breadcrumb ul {
  margin: 0px 0 0px 0;
  padding: 0 0;
  float: left;
  width: 100%;
  list-style: none;
}
.jobs_breadcrumb ul li {
  margin: 0px 10px 0px 0;
  padding: 0 0;
  float: left;
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
  list-style: none;
}
.jobs_breadcrumb ul li a {
  margin: 0px 0 0px 0;
  padding: 0 0;
  float: left;
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
}
.jobs_arae {
  margin: 0px 0 0px 0;
  padding: 15px 0;
  float: left;
  width: 100%;
  border-bottom: 1px solid #464646;
}

.jobs_arae h3 {
  color: #191919;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 21px;
  margin: 0px 0 0px 0;
  padding: 0 0;
  float: left;
  width: 100%;
  text-align: left;
  clear: both;
}
.jobs_arae .location {
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
  float: left;
  text-align: left;
}

.jobs_arae p {
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0px 0 0px 0;
  padding: 0 0;
  float: left;
  width: 100%;
}

.jobs_arae p a {
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0px 0 0px 0;
  padding: 0 0;
  float: left;
  width: 100%;
}

.jobs_arae p a:hover {
  color: #242424 !important;
  text-decoration: none;
  outline: none;
}

.jobs_arae a.applybtn {
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 20px 0 20px 0;
  padding: 8px 25px;
  width: auto;
  height: auto;
  background-color: #ffea00;
  border: none;
  float: left;
  display: block;
  border-radius: 4px;
}

.jobs_left_area {
  margin: 0px 0 0px 0;
  padding: 0 0;
  float: left;
  width: 100%;
}

.jobs_left_area h3 {
  color: #191919;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 27px;
  margin: 0px 0 25px 0;
  padding: 0 0;
  float: left;
  width: 100%;
  text-align: left;
  clear: both;
}
.jobs_left_area p {
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0px 0 12px 0;
  padding: 0 0 12px 5%;
  float: left;
  width: 95%;
  background-image: url("../imgs/jobs_info_bg.jpg");
  background-repeat: repeat-x;
  background-position: bottom left;
}
.see_more_jobs {
  margin: 0px 0 12px 0;
  padding: 0 0 0px 0;
  float: left;
  width: 95%;
}

.see_more_jobs a {
  color: #ffea00 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin: 30px 0 10px 0;
  padding: 8px 25px;
  width: 100%;
  height: auto;
  background-color: #191919;
  border: none;
  float: left;
  display: block;
  border-radius: 4px;
  text-align: center;
}
.see_more_jobs a:hover {
  color: #242424 !important;
  background-color: #ffea00;
  text-decoration: none;
  outline: none;
}
.see_more_jobs span {
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  margin: 0px 0 12px 0;
  padding: 0 0 12px 0;
  float: left;
  width: 100%;
}
.jobs_details_area h3 {
  color: #191919 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 19px;
  margin: 0 0 30px 0;
  padding: 0;
  width: 100%;
  float: left;
}

.jobs_details_area p {
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0 0 15px 0;
  padding: 0 0 0 0;
  float: left;
  width: 100%;
}
.jobs_details_area ul {
  margin: 0 0 15px 0;
  padding: 0 0 0 0;
  float: left;
  width: 100%;
}
.jobs_details_area ul li {
  margin: 0 0 15px 15px;
  padding: 0 0 0 0;
  float: left;
  width: 100%;
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.jobs_details_area a.applybtn {
  color: #242424 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin: 20px 0 20px 0;
  padding: 8px 25px;
  width: 100%;
  height: auto;
  background-color: #ffea00;
  border: none;
  float: left;
  display: block;
  border-radius: 4px;
  text-align: center;
}
.jobs_details_area a.applybtn:hover {
  color: #ffea00 !important;
  background-color: #242424;
  text-decoration: none;
  outline: none;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
