.footer ul.menu li a:hover {
  color: blue;
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
  background-image: url(../imgs/line.jpg);
  background-repeat: no-repeat;
  background-position: 0 10px;
}
